 #price{
    color:white;
    background-color: green;
    font-weight: bold;
    width:fit-content;
    
}
#new{
    /* text-decoration: underline; */
    color:red;
    font-size:30px
}
#containerid{
    margin-top:70px;
    height:500px;
}
#bimg{
    width:100%;
    height:60vh;
}
#hr{
  
    border:1px solid gray;
}
#cimg{
    height: 180px;
    
}
#sectionpid{
    margin-top:120px;
    min-height:600px;
}
#ph4{
    color:teal;
    font-size:28px;
    font-weight:bold;
}
#pimg{
    width:200px;
    height:200px;
}
#pimg:hover{
    transform:scale(2);
}
#h5{
    color:black;
    font-weight: 700;
}
#categeroyid{
    margin-top:90px;
    border: 1px solid blue;

}
#categeroydiv{
    height:250px;
    
}
#categeroydiv #cimg{
    width:120px;
    height: 250px;
}
#a{
    text-decoration:None;
}
/* #itatic{
    color:red;
} */

label{
    color:darkviolet;
    font-size:20px;
    font-weight: 500;
    margin-top:5px;
}
#input{
    background-color:orange;
    color:white;
    font-weight:600;
    margin-bottom:40px;
    border-radius:4px;
}
#container{
    margin-top:200px;
    width:380px;
    border:2px solid gray;
    /* height:350px; */
    

}
#rcontainer{
    margin-top:50px;
    width:340px;
    border:2px solid gray;
    /* height:350px; */
    margin:auto;
    color:aqua
}

h3{
    color:royalblue;
    font-weight:600;
    text-align: center;
}
/* #div1{
    width:350px;

} */
#id4{
    width:300px;
}
#id5{
    color:steelblue;
    text-align: center;
}
